$borderColor: #0096e6;

.app {
  flex: 1 1 auto;
}

#main-page {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.filters {
  width: 25%;
  background: rgba(24, 26, 28, 0.3);
  border: 1px solid $borderColor;
  padding: .5%;
  height: -moz-fit-content;
  height: fit-content;
}



.filters__buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
  border: 1px solid $borderColor;
}

.button {
  background-color: $borderColor;
  border: 1px solid $borderColor;
  border-radius: 0.3rem;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 110%;
  cursor: pointer;
}

.filter__container {
  overflow: hidden;
  margin-bottom: 5%;
  display: block;
  border: 1px solid $borderColor;
}

.filter__container h3 {
  text-align: center;
  border-bottom: 1px solid $borderColor;
}

.filter-list {
  height: 12rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 2%;
}

.checkbox-line {
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.checkbox-line input {
  cursor: pointer;
}

.checkbox-line label {
  overflow: hidden;
    padding: 0.3rem;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.checkbox-line span {
  margin-left: auto;
}