$mainPink: #ff9999;
.footer {
}
.footer__body {
  justify-content: center;
  display: flex;
  align-items: center;

  padding: 20px 0;
  // background-color: rgba(255, 0, 0, 0.45);
  background-color: $mainPink;
  & > * {
    width: 150px;
    text-align: center;
  }
}

.footer__ilya {
}

.footer__year {
  font-size: 1.2rem;
  width: auto;
  font-weight: bold;
  background-image: linear-gradient(to right, #006bd7 10%, #cd2d00 60%, #51ff00 110%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
}

.footer__rs-school {
  display: none;
}
