$mainColor: #0096e6;

.products__sort {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sort-bar select {
    outline: 0;
    padding: 0 1em;
    color: #fff;
    cursor: pointer;
    border-radius: 1rem;
    color: #616161;
    border: 1px solid $mainColor;
    text-align: center;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.search-bar input {
    width: 100%;
    border: 1px solid $mainColor;
    color: $mainColor;
    border-radius: 2rem;
    padding: 0.2rem;
    outline: none;
    font-size: 80%;
    text-align: center;
}

.view-mode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $mainColor;
}

.big-mode,
.small-mode {
    border: 1px solid $mainColor;
    height: 2rem;
    width: 2rem;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    padding: 2%;
    cursor: pointer;
    margin-left: 0.5rem;
    -webkit-user-select: none;
    user-select: none;
}

.big-mode div,
.small-mode div {
    white-space: nowrap;
    margin: 2%;
    font-size: 50%;
    border-radius: 100%;
    overflow: hidden;
    background: $mainColor;
    -webkit-user-select: none;
    user-select: none
}

.big-mode div {
    width: 21%;
    height: 22%;
}

.small-mode div {
    width: 12%;
    height: 13%;
}

.products {
    width: 74%;
    border: 1px solid $mainColor;
    border-radius: 0.7rem;
    overflow: hidden;
}

.products__items {
    display: flex;
    flex-wrap: wrap;
    padding: .5%;
}

.products__item {
    position: relative;
    margin: 1%;
    border: 1px solid $mainColor;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 23%;
    /* padding-top: 20%; */
    background-position: 0 0;
    background-size: cover;
}

.item__info {
    border: 1px solid black;
    width: 50%;
    background-color: rgba(68, 68, 68, 0.7);
}

.item__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}