$mainColor: #f9b54c;
$secondColor: #324a5e;

.product__container {
    margin: 0 auto;
    width: 80%;
    min-height: 85vh;
}

.breadcrumb {
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: $secondColor;
    padding: 1% 0;
    border: 1px solid $mainColor;
    border-radius: 1rem;
    color: $mainColor;

    a,span {
        color: $mainColor;
    }
}

.product {
    width: 100%;
    border: 2px solid $mainColor;
    border-radius: 1rem;
    background: rgba(24,26,28,.5);
    overflow: hidden;
}

.product__title {
    width: 100%;
    color: $mainColor;
    text-align: center;
    background: #272727;
    border-bottom: 1px solid $mainColor;

    h1 {
        font-size: 150%;
        padding: .5%;
    }
}

.product__data {
    display: flex;
    width: 100%;
    padding: .5%;
}

.product__photos {
    width: 40%;
    display: flex;
}

.slides {
    width: 25%;

    img {
        width: 80%;
        border: 1px solid $mainColor;
        border-radius: 0.5rem;
        cursor: pointer;
    }
}

.grand-photo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-height: 40vh;
        width: auto;
        max-width: 100%;
        border: 1px solid $mainColor;
        border-radius: 0.5rem;
    }
}

.product__info {
    width: 40%;

    .info__item {
        margin: 1% auto;
        border: 1px solid $mainColor;
        border-radius: 0.3rem;
        overflow: hidden;
        text-align: center;
    
        h3 {
            color: $mainColor;
            text-align: center;
            background-color: #272727;
            padding: .7%;
        }
    
        p {
            color: wheat;
            padding: .7%;
        }
    }
}

.add-to-cart {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    text-align: center;
}

.price {
    width: 90%;
    font-size: 200%;
    color: $mainColor;
    text-shadow: 0 0 10px $secondColor, 0 0 20px $secondColor, 0 0 30px $secondColor, 0 0 40px $secondColor;
}

.price::after {
    content: "€";
}

.cart-buttons {
    width: 90%;

    .button {
        width: 100%;
        padding: 5%;
    }
}