@import url("https://fonts.googleapis.com/css?family=Rubik:regular&display=swap&subset=cyrillic-ext");
.header {
  padding: 20px 0;
  background-color: rgba(255, 0, 0, 0.45);
}

.nav__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__online-store {
  padding-left: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  color: white;
  background-image: url("./global/assets/logo.svg");
  background-repeat: no-repeat;
  background-size: 38px;
}

.header__online-store::after {
  content: "";
  display: block;
  padding-top: 0;
  width: 0%;
  border-bottom: 3px solid #0096e6;
  border-radius: 33px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.header__online-store:hover:after {
  width: 100%;
}

.product-details {
  position: absolute;
  top: 80px;
  right: 40px;
}

.header__cart {
  background: url("./global/assets/cart.svg") no-repeat center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__cart:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0px 0px 21px 0px #fff0e3;
          box-shadow: 0px 0px 21px 0px #fff0e3;
}

.app {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.app {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__body {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  background-color: rgba(255, 0, 0, 0.45);
}

.footer__body > * {
  width: 150px;
  text-align: center;
}

.footer__year {
  font-size: 1.2rem;
  width: auto;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, #006bd7), color-stop(60%, #cd2d00), color-stop(110%, #51ff00));
  background-image: linear-gradient(to right, #006bd7 10%, #cd2d00 60%, #51ff00 110%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: default;
}

.footer__rs-school {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1470px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: Rubik;
  line-height: 1;
  font-size: 100%;
  font-size: 16px;
  color: #616161;
  scroll-behavior: smooth;
}
